@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

$BgColorButton: linear-gradient(90deg, #00f260 0%, #0575e6 100%);
$bodyColor: #f4f4f4;

.bodycolbg {
  background-color: $bodyColor;
}
.btnBgcolorr {
  background: $BgColorButton;
  border-radius: 10px;
  width: 209px;
  height: 60px;
  flex-shrink: 0;
  transition: 0.3s ease, transform 0.3s ease;
  overflow: hidden;

  &:hover {
    // background: linear-gradient(90deg, #0575e6 0%, #00f260 100%);

    img {
      transform: translateX(200px);
      opacity: 0.8;
    }
  }

  img {
    transition: transform 0.7s ease, opacity 0.3s ease;
  }
}

.HoverEffectUL {
  li {
    color: black;
    transition: all 0.5s ease;
    font-weight: bold;
  }
  .setHoverLine {
    width: 0;
    height: 0px;
    background-color: transparent;
    transition: all 0.5s ease;
  }

  &:hover {
    li {
      color: #0575e6;
    }

    .setHoverLine {
      width: 80%;
      height: 2px;
      // margin-top: 2px;
      background-color: #0575e6;
    }
  }

  // Initial styles for the p tag
}

.SetHeadP {
  color: var(--Primary, #0575e6);
  font-family: Pacifico;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.7%; /* 40.018px */
  letter-spacing: -1.02px;
  text-transform: capitalize;
}

// Overview Section

.Gradient-sett {
  border-radius: 50px;
  background: linear-gradient(220deg, #00f260 11.8%, #0575e6 96.03%);
}
